USE [master]
GO
/****** Object:  Database [MonRDV]    Script Date: 7/4/2020 2:08:01 AM ******/
CREATE DATABASE [MonRDV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MonRDV', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MonRDV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MonRDV_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MonRDV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MonRDV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MonRDV]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 7/4/2020 2:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[A_ID] [int] NOT NULL,
	[A_NOM] [varchar](40) NULL,
	[A_PRENOM] [varchar](40) NULL,
	[A_EMAIL] [varchar](100) NULL,
	[A_TEL] [numeric](12, 0) NULL,
	[A_PASSWORD] [varchar](255) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY NONCLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUREAU_DES_REUNIONS]    Script Date: 7/4/2020 2:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUREAU_DES_REUNIONS](
	[B_ID] [int] NOT NULL,
	[B_NUMERO] [bigint] NULL,
	[B_NOM] [varchar](150) NULL,
	[B_CHEF] [char](100) NULL,
 CONSTRAINT [PK_BUREAU_DES_REUNIONS] PRIMARY KEY NONCLUSTERED 
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FONCTIONNAIRE]    Script Date: 7/4/2020 2:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FONCTIONNAIRE](
	[U_ID] [int] NOT NULL,
	[U_NOM] [varchar](50) NULL,
	[U_PRENOM] [varchar](50) NULL,
	[U_TEL] [numeric](12, 0) NULL,
	[U_VILLE] [varchar](50) NULL,
	[U_EMAIL] [varchar](100) NULL,
	[U_PASSWORD] [varchar](255) NULL,
	[U_POSTE] [varchar](60) NULL,
 CONSTRAINT [PK_FONCTIONNAIRE] PRIMARY KEY NONCLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REUNION]    Script Date: 7/4/2020 2:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REUNION](
	[R_ID] [int] NOT NULL,
	[B_ID] [int] NULL,
	[R_DATE] [datetime] NULL,
	[R_HEURE] [datetime] NULL,
	[R_SUJET] [varchar](255) NULL,
 CONSTRAINT [PK_REUNION] PRIMARY KEY NONCLUSTERED 
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RNADEZ_VOUS]    Script Date: 7/4/2020 2:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RNADEZ_VOUS](
	[RD_ID] [int] NOT NULL,
	[U_ID] [int] NOT NULL,
	[RD_NOM_PR] [varchar](40) NULL,
	[RD_PERNOM_PR] [varchar](40) NULL,
	[RD_DATE] [datetime] NULL,
	[RD_HEURE] [datetime] NULL,
	[RD_CAUSE] [varchar](255) NULL,
	[RD_TEL_PR] [numeric](12, 0) NULL,
 CONSTRAINT [PK_RNADEZ_VOUS] PRIMARY KEY NONCLUSTERED 
(
	[RD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_5_FK]    Script Date: 7/4/2020 2:08:02 AM ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_5_FK] ON [dbo].[REUNION]
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ASSOCIATION_4_FK]    Script Date: 7/4/2020 2:08:02 AM ******/
CREATE NONCLUSTERED INDEX [ASSOCIATION_4_FK] ON [dbo].[RNADEZ_VOUS]
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
